{% extends 'base.html' %}

{% block title %} Mensagem {% endblock %}

{% block content %}
{% if user.is_authenticated %}
      <div class="about-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="abouttitle">
                      {% for dado in dados %}
                        <h2>
                            Mensagem
                        </h2>
                      {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="Library">
         <div class="container">

            <h3>Usuário: {{ user }}</h3>

            <ul>
                {% for dado in dados %}

                {% if dado.Nome_Completo != None %}<li>Nome: {{ dado.Nome_Completo }} </li> {% endif%}

                {% endfor %}
            </ul>

         </div>
      </div>

    <div class="offset-1 col-10 list-div">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn tbn-success" value="Enviar Mensagem">
        </form>
    </div>

{% endif %}

{% endblock %}