 <div class="accordion-container" id="accordionFive">
        <div class="bc5 container">
            <div id="details2" class="accordion">
                <div>
                    </div>

                        <div class="item">
                            <div id="headinThree4">

                                <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                                            <a href="{% url 'mensagem' user_obj.id %}"><span class="circle-numbering">#</span><span class="accordion-title">Enviar Mensagem</span></a>
                                </span>
                            </div>
                     </div>


                </div>
            </div>
        </div>
 </div>