
<div id="intro2" class="form-2">

        <div class="bc3 align-center counter container">
            {% for t_p in allcomentario %}
            {% if t_p.C_Texto2 or t_p.C_Foto2 or t_p.C_Video2 %}

            <div class="row">

                <div class="col-lg-5">
                    <div class="text-container">

                        <div class="section-title">{{ t_p.commenter2 }}</div>
                        {% if t_p.C_Texto2 %}

                        <h2>{{ t_p.C_Texto2 }} </h2>
                        {% endif %}
                        <ul class="list-unstyled li-space-lg">
                            <li><a href=""><i class="fab2 fab fa-bitcoin"></i></a><span class="num">76</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">1288</span></li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

                {% if t_p.C_Foto2 %}
                <div class="col-lg-7">
                    <div class="image-container">
                        <img src="{{MEDIA_URL}}{{t_p.C_Foto2}}" usemap=""  width="320" height="240" >
                    </div> <!-- end of image-container -->
                </div>
                {% endif %}

                {% if t_p.C_Video2 %}
                <div class="col-lg-7">
                    <div class="image-container">
                        <video controls width="320" height="240" >
                        <source src="{{MEDIA_URL}}{{t_p.C_Video2}}" type="video/mp4">
                        </video>
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                {% endif %}


            </div> <!-- end of row -->
            <br><hr><br>
            {% endif %}
            {% endfor %}
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

