
<div id="intro2" class="form-2">

        <div class="bc3 align-center counter container">
            {% for t_p in allposte %}
            {% if t_p.Texto or t_p.Foto or t_p.Video %}

            <div class="row">

                <div class="col-lg-5">
                    <div class="text-container">

                        <div class="section-title">{{ t_p.User_Poste }} </div>
                        {% if t_p.Texto %}
                        <a class="nav-link page-scroll" href="{% url 'verposte' t_p.poste_id %}">Ver Completo</a>

                        <h2>{{ t_p.Texto }} </h2>
                        {% endif %}
                        <ul class="list-unstyled li-space-lg">
                            <li><a href=""><i class="fab2 fab fa-bitcoin"></i></a><span class="num">força</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">coração</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">risos</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">dinheiro</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">triste</span></li>
                            <li><a href=""><i class="fab fa-bitcoin"></i></a><span class="num">desgosto</span></li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

                {% if t_p.Foto %}
                <div class="col-lg-7">
                    <div class="image-container">
                        <img src="{{MEDIA_URL}}{{t_p.Foto}}" usemap=""  width="320" height="240" >
                    </div> <!-- end of image-container -->
                </div>
                {% endif %}

                {% if t_p.Video %}
                <div class="col-lg-7">
                    <div class="image-container">
                        <video controls width="320" height="240" >
                        <source src="{{MEDIA_URL}}{{t_p.Video}}" type="video/mp4">
                        </video>
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                {% endif %}


            </div> <!-- end of row -->
            <br><hr><br>
            {% endif %}
            {% endfor %}
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

